:root{
    --color-dark: #000000;
    --color-gray: #333333;
    --color-mid-gray: #666;
    --color-light-gray: #EEEEEE;
    --color-dark-red: #88362D;
    --color-red: #A82E07;
    --color-salmon: #F5683B;
    --color-dark-cyan: #3BF5C6;
    --color-cyan: #57FFD5;
    --color-green: #1BC298;
    --background: #F9FAFA;
    --color-white: #fbfbfb;
}

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Raleway";
    src: url("../font/raleway/Raleway-Bold.ttf");
    src: url("../font/raleway/Raleway-Regular.ttf");
    src: url("../font/raleway/Raleway-SemiBold.ttf");
    src: url("../font/raleway/Raleway-Light.ttf");
    src: url("../font/raleway/Raleway-Medium.ttf");
}

.font-police {
    font-family: "Raleway";
}

.page-container{
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/*liens global*/
.nuxt-link-active{
    color: var(--color-salmon);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 0.9em;
}



h2{
    font-size: 1.4em;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-gray);
    padding: 40px 0px;
}

p{
    font-size: 0.8em;
    letter-spacing: 1px;
    margin: auto auto 20px;
    color: var(--color-gray);
}

h3{
    font-size: 1.1em;
    font-weight:500 ;
    letter-spacing: 1px;
    color: var(--color-dark-red);
    padding: 20px 0px;
}

@media screen and (min-width: 600px) {
   h2{
       font-size: 1.6em;
   }
  }

.nav-link{
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}
.nav-link-a{
    font-weight: 300;
    font-size: .8em;
    margin-bottom: 20px;
}

.nav-link-a:hover{
    color: var(--color-dark-red);
}


.section-color{
    width: 100%;
    height: auto;
    max-width: 100%;
    position: relative;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    padding: 30px 0px 50px;
}
